.main-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
}
.main-page-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
}
.page-link {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: var(--font-color);
    text-decoration: none;
    transition: transform .15s ease-in-out;
    span {
        transition: color .15s ease-in-out;
    }
}
.page-link:hover {
    transform: scale(1.2);
    span {
        color: var(--primary-color);
    }
}
nx-icon {
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
}
