* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root.color-theme-label {
    --bg-color: #28282B;
    --component-color: #1F1F21;

    --primary-color: #673F9F;
    --secondary-color: #42288B;
    --tertiary-color: #8E5AD6;

    --font-color: #FBE8E4;
}
:root {
    background-color: var(--bg-color);
    color: var(--font-color);
    font: 16px 'JetBrainsMono NF', 'Roboto', system-ui, sans-serif;
}
.app {
    margin: 1rem;
    background: var(--component-color);
    min-height: calc(100vh - 2rem);
    width: calc(100% - 2rem);
    border-radius: 1rem;
    box-shadow: 1px 1px 2px var(--primary-color);
}

